html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
}

.robot {
  width: 320px;
}

.robot-body {
  width: 320px;
  position: absolute;
  top: 3.3rem;
}

.robot-brain {
  width: 46px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-head-right {
  position: absolute;
  bottom: 32.5rem;
  left: 10.2rem;
}

.robot-head-left {
  position: absolute;
  bottom: 32.5rem;
  left: 2.4rem;
}

.robot-brain {
  position: relative;
  bottom: 10.2rem;
  left: 8.3rem;
}
